In [28]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
from sklearn.preprocessing import LabelEncoder

In [13]:
path = 'F:\DOCUMENTOS ALEJANDRO\MASTERMIND\Mastermind\DATA\GITHUB\Projects\Linear_regresion\Final_project\CarPrice_Assignment.csv'

df= pd.read_csv(path)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

- 1	Car_ID	Unique id of each observation (Interger)
- 2	Symboling	Its assigned insurance risk rating, A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe.(Categorical)
- 3	carCompany	Name of car company (Categorical)
- 4	fueltype	Car fuel type i.e gas or diesel (Categorical)
- 5	aspiration	Aspiration used in a car (Categorical) (Std o Turbo)
- 6	doornumber	Number of doors in a car (Categorical). Puertas
- 7	carbody	body of car (Categorical). (convertible, sedan, wagon …)
- 8	drivewheel	type of drive wheel (Categorical). (hidráulica, manual, )
- 9	enginelocation	Location of car engine (Categorical). Lugar del motor
- 10 wheelbase	Weelbase of car (Numeric). Distancia de ejes en pulgadas.
- 11 carlength	Length of car (Numeric). Longitud
- 12 carwidth	Width of car (Numeric). Amplitud
- 13 carheight	height of car (Numeric). Altura
- 14 curbweight	The weight of a car without occupants or baggage. (Numeric). Peso del auto
- 15 enginetype	Type of engine. (Categorical). Tipo de motor
- 16 cylindernumber	cylinder placed in the car (Categorical). Cilindraje
- 17 enginesize	Size of car (Numeric). Tamaño del carro en …
- 18 fuelsystem	Fuel system of car (Categorical)
- 19 boreratio	Boreratio of car (Numeric). Eficiencia de motor
- 20 troke	Stroke or volume inside the engine (Numeric). Pistones, tiempos, combustión
- 21 compressionratio	compression ratio of car (Numeric). Comprensión o medición de presión en motor
- 22 horsepower	Horsepower (Numeric). Poder del carro
- 23 peakrpm	car peak rpm (Numeric). Picos de revoluciones por minuto
- 24 citympg	Mileage in city (Numeric). Consumo de gasolina
- 25 highwaympg	Mileage on highway (Numeric). Consumo de gasolina
- 26 price

# Data analysis and manipulation

In [15]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [17]:
df.drop(["car_ID", "symboling", "drivewheel", "wheelbase"], axis=1, inplace=True)

In [18]:
df.columns

Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'enginelocation', 'carlength', 'carwidth', 'carheight', 'curbweight',
       'enginetype', 'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio',
       'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg',
       'highwaympg', 'price'],
      dtype='object')

In [19]:
df.head()

,CarName,fueltype,aspiration,doornumber,carbody,enginelocation,carlength,carwidth,carheight,curbweight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romero giulia,gas,std,two,convertible,front,168.8,64.1,48.8,2548,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero stelvio,gas,std,two,convertible,front,168.8,64.1,48.8,2548,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,front,171.2,65.5,52.4,2823,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi 100 ls,gas,std,four,sedan,front,176.6,66.2,54.3,2337,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi 100ls,gas,std,four,sedan,front,176.6,66.4,54.3,2824,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

- Voy a extraer el nombre de la marca y definirlo en una nueva columna. Quiero hacer mis predicciones en función de la marca y las características del coche, por lo que el modelo no lo voy a tener en cuenta para resolver este proyecto.

In [24]:
df['CarName'] = df['CarName'].str.split().str[0]

In [31]:
df.rename(columns = {'CarName':'brand'}, inplace = True)

- Comprobamos si hay algun NaN

In [33]:
df.isnull().any()

brand               False
fueltype            False
aspiration          False
doornumber          False
carbody             False
enginelocation      False
carlength           False
carwidth            False
carheight           False
curbweight          False
enginetype          False
cylindernumber      False
enginesize          False
fuelsystem          False
boreratio           False
stroke              False
compressionratio    False
horsepower          False
peakrpm             False
citympg             False
highwaympg          False
price               False
dtype: bool

## Encoding de los registros del tipo string

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             205 non-null    object
 1   fueltype          205 non-null    object
 2   aspiration        205 non-null    object
 3   doornumber        205 non-null    object
 4   carbody           205 non-null    object
 5   enginelocation    205 non-null    object
 6   carlength         205 non-null    float64
 7   carwidth          205 non-null    float64
 8   carheight         205 non-null    float64
 9   curbweight        205 non-null    int64
 10  enginetype        205 non-null    object
 11  cylindernumber    205 non-null    object
 12  enginesize        205 non-null    int64
 13  fuelsystem        205 non-null    object
 14  boreratio         205 non-null    float64
 15  stroke            205 non-null    float64
 16  compressionratio  205 non-null    float64
 17  horsepower        205 non-null    int64
 18  peakrpm           205 non-null    int64
 19  citympg           205 non-null    int64
 20  highwaympg        205 non-null    int64
 21  price             205 non-null    float64
dtypes: float64(7), int64(6), object(9)
memory usage: 35.4+ KB

In [34]:
le = LabelEncoder()

In [50]:
df['brand'] = le.fit_transform(df['brand'])
df['fueltype'] = le.fit_transform(df['fueltype']) 
df['aspiration'] = le.fit_transform(df['aspiration']) 
df['doornumber'] = le.fit_transform(df['doornumber']) 
df['carbody'] = le.fit_transform(df['carbody']) 
df['enginelocation'] = le.fit_transform(df['enginelocation']) 
df['enginetype'] = le.fit_transform(df['enginetype'])
df['cylindernumber'] = le.fit_transform(df['cylindernumber']) 
df['fuelsystem'] = le.fit_transform(df['fuelsystem'])

In [ ]:
#columns_to_encode = ['brand', 'fueltype', 'aspiration', 'doornumber', 'carbody', 
#                     'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem']

#for column in columns_to_encode:
    #df[column] = le.fit_transform(df[column])

In [51]:
df.head()

,brand,fueltype,aspiration,doornumber,carbody,enginelocation,carlength,carwidth,carheight,curbweight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,1,0,1,0,0,168.8,64.1,48.8,2548,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,1,1,0,1,0,0,168.8,64.1,48.8,2548,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,0,1,2,0,171.2,65.5,52.4,2823,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,1,0,0,3,0,176.6,66.2,54.3,2337,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,1,0,0,3,0,176.6,66.4,54.3,2824,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0